[Unit]
Description=The Host%i's BIOS is ready to be released. All preparstion
  for the BIOS is done for Host%i to take control and use.
Wants=obmc-host-release-pre@%i.target
After=obmc-host-release-pre@%i.target
RefuseManualStop=yes
