[Unit]
Description=Reboot Host%i
After=multi-user.target
Conflicts=obmc-host-startmin@%i.target
OnFailure=obmc-chassis-poweroff@%i.target
OnFailureJobMode=flush
