[Unit]
Description=Stop Host%i
After=multi-user.target
After=obmc-chassis-poweroff@%i.target
Conflicts=obmc-host-startmin@%i.target
Wants=obmc-host-stop-pre@%i.target
Wants=obmc-host-stopping@%i.target
Wants=obmc-host-stopped@%i.target
OnFailure=obmc-chassis-poweroff@%i.target
OnFailureJobMode=flush
