[Unit]
Description=Chassis%i (Hard Power Off)
After=multi-user.target
Wants=xyz.openbmc_project.State.Chassis@%i.service
After=xyz.openbmc_project.State.Chassis@%i.service
Conflicts=obmc-chassis-poweron@%i.target
Conflicts=obmc-chassis-powerreset@%i.target
Conflicts=obmc-host-shutdown@%i.target
Conflicts=xyz.openbmc_project.Ipmi.Internal.SoftPowerOff.service
Conflicts=pldmSoftPowerOff.service
