[Unit]
Description=Graceful Quiesce Target
After=multi-user.target
Wants=obmc-host-stop-pre@%i.target
Wants=obmc-host-stopping@%i.target
Wants=obmc-host-stopped@%i.target
Conflicts=obmc-chassis-poweroff@%i.target
