[Unit]
Description=Chassis%i (Power Off)
After=multi-user.target
Wants=xyz.openbmc_project.State.Chassis@%i.service
After=xyz.openbmc_project.State.Chassis@%i.service
Wants=obmc-power-stop-pre@%i.target
Wants=obmc-power-stop@%i.target
Wants=obmc-power-off@%i.target
Conflicts=obmc-chassis-poweron@%i.target
Conflicts=obmc-chassis-powerreset@%i.target
