[Unit]
Description=Chassis%i (Power On)
After=multi-user.target
Wants=xyz.openbmc_project.State.Chassis@%i.service
After=xyz.openbmc_project.State.Chassis@%i.service
Conflicts=obmc-chassis-poweroff@%i.target
Wants=obmc-power-start-pre@%i.target
Wants=obmc-power-start@%i.target
Wants=obmc-power-on@%i.target
OnFailure=obmc-chassis-poweroff@%i.target
OnFailureJobMode=fail
