[Unit]
Description=Start Host%i Minimum
After=multi-user.target
Conflicts=obmc-host-stop@%i.target
Wants=obmc-host-start-pre@%i.target
Wants=obmc-host-starting@%i.target
Wants=obmc-host-started@%i.target
OnFailure=obmc-host-quiesce@%i.target
OnFailureJobMode=flush
