[Unit]
Description=Check chassis power status
Wants=obmc-power-start-pre@%i.target
Before=obmc-power-start-pre@%i.target
Wants=mapper-wait@-xyz-openbmc_project-state-chassis%i.service
After=mapper-wait@-xyz-openbmc_project-state-chassis%i.service
After=op-reset-chassis-on@%i.service
Conflicts=obmc-chassis-poweroff@%i.target
ConditionPathExists=!/run/openbmc/chassis@%i-on

[Service]
Restart=no
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/phosphor-chassis-check-power-status --chassis %i

[Install]
RequiredBy=obmc-chaissis-poweron@%i.target
