[Unit]
Description=phosphor systemd target monitor
After=dbus.service
Wants=xyz.openbmc_project.Logging.service
After=xyz.openbmc_project.Logging.service

[Service]
Restart=always
ExecStart=/usr/bin/phosphor-systemd-target-monitor \
          -f /etc/phosphor-systemd-target-monitor/phosphor-target-monitor-default.json \
          -s /etc/phosphor-systemd-target-monitor/phosphor-service-monitor-default.json

[Install]
WantedBy=multi-user.target
