[Unit]
Description=Recover host%i after bmc reboot
Requires=obmc-host-reset-running@%i.target
After=obmc-host-reset-running@%i.target
Wants=mapper-wait@-xyz-openbmc_project-state-host.service
Before=mapper-wait@-xyz-openbmc_project-state-host.service
ConditionPathExists=/run/openbmc/chassis@%i-on
ConditionPathExists=!/run/openbmc/host@%i-on

[Service]
Restart=no
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/phosphor-host-reset-recovery


[Install]
WantedBy=multi-user.target
