[Unit]
Description=Set Chassis state to transition to on
Before=obmc-power-start@%i.service
Wants=mapper-wait@-xyz-openbmc_project-state-chassis%i.service
After=mapper-wait@-xyz-openbmc_project-state-chassis%i.service
Conflicts=obmc-chassis-poweroff@%i.target
ConditionPathExists=!/run/openbmc/chassis@%i-on

[Service]
Restart=no
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=phosphor-set-chassis-transition-to-on
ExecStart=/bin/sh -c "busctl set-property `mapper get-service /xyz/openbmc_project/state/chassis%i` /xyz/openbmc_project/state/chassis%i xyz.openbmc_project.State.Chassis CurrentPowerState s xyz.openbmc_project.State.Chassis.PowerState.TransitioningToOn"

[Install]
WantedBy=obmc-chassis-poweron@%i.target
