[Unit]
Description=Reboot Host %i If Enabled
Wants=xyz.openbmc_project.Settings.service
After=xyz.openbmc_project.Settings.service
Wants=xyz.openbmc_project.State.BMC.service
After=xyz.openbmc_project.State.BMC.service
Wants=xyz.openbmc_project.State.Chassis@%i.service
After=xyz.openbmc_project.State.Chassis@%i.service
Wants=xyz.openbmc_project.State.Host@%i.service
After=xyz.openbmc_project.State.Host@%i.service
After=phosphor-reset-chassis-on@%i.service
After=multi-user.target
ConditionPathExists=!/run/openbmc/chassis@%i-on

[Service]
Restart=no
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/phosphor-discover-system-state --host %i

[Install]
WantedBy=multi-user.target
