[Unit]
Description=Phosphor Host State Manager
Wants=mapper-wait@-xyz-openbmc_project-control-host0-auto_reboot.service
After=mapper-wait@-xyz-openbmc_project-control-host0-auto_reboot.service
Before=mapper-wait@-xyz-openbmc_project-state-host.service
Wants=mapper-wait@-xyz-openbmc_project-state-chassis0.service
After=mapper-wait@-xyz-openbmc_project-state-chassis0.service
Wants=obmc-mapper.target
After=obmc-mapper.target
After=phosphor-ipmi-host.service
After=pldmd.service
Before=obmc-host-reset@0.target

[Service]
ExecStart=/usr/bin/phosphor-host-state-manager
Restart=always
Type=dbus
BusName=xyz.openbmc_project.State.Host

[Install]
WantedBy=multi-user.target
