[Unit]
Description=Phosphor Host%i State Manager
Wants=mapper-wait@-xyz-openbmc_project-control-host%i-auto_reboot.service
After=mapper-wait@-xyz-openbmc_project-control-host%i-auto_reboot.service
Wants=mapper-wait@-xyz-openbmc_project-state-chassis%i.service
After=mapper-wait@-xyz-openbmc_project-state-chassis%i.service
After=phosphor-ipmi-host.service
After=pldmd.service
Before=obmc-host-reset@%i.target
Wants=xyz.openbmc_project.Settings.service
After=xyz.openbmc_project.Settings.service
Wants=xyz.openbmc_project.Dump.Manager.service
After=xyz.openbmc_project.Dump.Manager.service

[Service]
ExecStart=/usr/bin/phosphor-host-state-manager --host %i
Restart=always
Type=dbus
BusName=xyz.openbmc_project.State.Host%i

[Install]
WantedBy=multi-user.target
