[Unit]
Description=Phosphor Chassis%i State Manager
Before=mapper-wait@-xyz-openbmc_project-state-chassis%i.service
After=org.openbmc.control.Power@%i.service

[Service]
ExecStartPre=/bin/mkdir -p /run/openbmc/
ExecStart=/usr/bin/phosphor-chassis-state-manager --chassis %i
Restart=always
Type=dbus
BusName=xyz.openbmc_project.State.Chassis%i

[Install]
WantedBy=multi-user.target
